.button{
    -fx-text-fill: aliceblue;
    -fx-font-size: 15;
    -fx-border-radius: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}
#menuButton{
    -fx-text-fill: lightslategray;
    -fx-background-color: coral;
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-border-radius: 10px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}

#odd{
    -fx-background-color: hotpink;
}
#even{
    -fx-background-color: lightblue;
}